#container{
    display: block;
    padding: 20px;
    margin: auto;
    width: 50%;
    height: 400px;
    padding-top: 100px;
    text-align: center;
    background-color:black;
    border-radius: 25px;
    outline: 3px solid white;
}

#mainbody{
    background-color: cadetblue;
}

#titletext{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

#lightSwitch{
    padding: 40px;
}

#lightbulb{
    padding: 40px;
}

#temp, #hum{
    width:300px; height:200px;
    display: inline-block;
    margin: 1em;
  }