#container{
    display: block;
    padding: 20px;
    margin: auto;
    width: 50%;
    height: 400px;
    padding-top: 100px;
    text-align: center;
    background-color:black;
    border-radius: 25px;
    outline: 3px solid white;
}

#container_led{
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 350px;
    height: 450px;
    /* padding-top: 100px; */
    text-align: center;
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}

#container_gauge{
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 350px;
    height: 710px;
    /* padding-top: 100px; */
    text-align: center;
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}

#profile_information{
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    height: 200px;
    /* padding-top: 100px; */
    text-align: center;
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}

#container_prefernces {
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    /* padding-top: 100px; */
    text-align: center;
    background-color:rgb(37, 37, 37);
    border-radius: 5px;
}
#background_container {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
}
#mainbody{
    background-color: rgb(0, 0, 0);
    
}

#fanbg{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    margin:auto;
    margin-top: 30px; 
}

#fanstate{
    
}

#flex-body-whole{
    display:flex;
    width: 1200px;
    margin:auto;
    /* margin-bottom: auto; */
}

#flex_body {
    display: flex;
    width: 800px;
    /* padding-left: 100px; */
    align-items: baseline;
}

#flex-body-pfp{
    display: flex;
    width: 300px;
    
}

#flex_body-profile{
    /* padding-left: 100px; */
    width: 800px;
    display: flex;
    align-items: baseline;
}

.generalText {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

#lightSwitch{
    padding: 40px;
}

#lightbulb{
    padding: 40px;
}

#temp, #hum{
    width:100px; height:100px;
    display: inline-block;
    margin: 2em;
}

.guage {
    /* width:200px; 
    height:100px; */
}

meter{
    width: 200px;
    height: 30px;
}