<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript">
            const temperature = "{{ data.temperature }}";
            const humidity = "{{ data.humidity }}";
         </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IoT Dashboard</title>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scriptFan.js') }}"></script>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body id="mainbody">
        <div id="background_container">
            <div id="flex-body-whole">
                <div>
                
                    <div id="flex_body-profile">
                        <div id="profile_information">
                            <div id="flex-body-pfp">
                                <img id="lightbulb" src="../static/images/avatarpng.png" style="width:100px">
                                <div>
                                    <h1 class="generalText">Profile</h1>
                                    <p class="generalText" id="profileId">Profile ID: 0</p>
                                    <p class="generalText" id="rfidTag">RFID tag ID: 0</p>
                                    <p class="generalText" id="loggedIn"></p>
                                </div>
            
                            </div>
            
            
                        </div> 
                        <div id="container_prefernces">
                            <h1 class="generalText">Your Prefences</h1>
                            <p class="generalText" id="lightLevel">Minimum Light Level: 6000</p>
                            <p class="generalText" id="tempLevel">Maximum Temperature: 100 C</p>
                            <a href="http://127.0.0.1:5000/editPreferences">Edit</a>
                        </div> 
                     </div>
        

                    <div id="flex_body">
                        <div id="container_led">
                            <h1 class="generalText">Room Lighting</h1>
                            <!-- <img id="lightSwitch" src="../static/images/offSwitch.jpg" style="width:100px" onclick="toggleLED()">  -->
                            <img id="lightbulb" src="../static/images/lightOff.png" style="width:100px"><br>
                            <meter id="lightGauge" value="0" min="0" max="5000" high="4000" low="400"></meter>
                            <p class="generalText">Light intensity: 0</p>
                            <p class="generalText"></p>
                        </div>

                        <div id="container_led">
                            <h1 class="generalText">Fan Status</h1>
                            <div id="fanbg">
                                <img id="fanState" src="../static/images/fanturn.png" style="width:200px">
                            </div>
                            
                            
                        </div>
                    </div>
            
            
            </div>
                
                <div id="container_gauge">
                    <h1 class="generalText">Room Climate</h1>
                        <div class="guage" id="tempGuage"></div> 
                        <div class="guage" id="humGuage"></div>
                    
                </div> 
           
            </div>
        </div>
        




        <script src="{{ url_for('static', filename='gauge_files/raphael-2.1.4.min.js') }}"></script>        
        <script src="{{ url_for('static', filename='gauge_files/justgage.js') }}"></script>
        <script>
            
            var temp, hum;
            window.onload = function(){
                temp = new JustGage({
                id: "tempGuage",
                value: temperature,
                min: 0,
                max: 50,
                title: "Temperature",
                relativeGaugeSize: true,
                valueFontColor: '#ffffff',
                labelFontColor: '#ffffff',
                symbol: "°C"
                });

                hum = new JustGage({
                id: "humGuage",
                value: humidity,
                min: 0,
                max: 100,
                title: "Humidity",
                relativeGaugeSize: true,
                valueFontColor: '#ffffff',
                labelFontColor: '#ffffff',
                symbol: "%"
                });
                setInterval(getTempResult, 3000);
            }
            
            setInterval(getEmailLightData, 2000);
            
        </script>
    </body>
</html>